﻿@model EProjectGroup2.Models.DataTransferObject.UserModelDto.AddUserModelDto
@{
}
<form method="post" action="Add">
  <div class="mb-3">
    <label for="" class="form-label">UserName</label>
    <input type="text" class="form-control" asp-for="UserName" >
  </div>
    <div class="mb-3">
    <label for="" class="form-label">PassWord</label>
    <input type="text" class="form-control" asp-for="Password" >
  </div>
    <div class="mb-3">
    <label for="" class="form-label">FullName</label>
    <input type="text" class="form-control" asp-for="FullName" >
  </div>
    <div class="mb-3">
    <label for="" class="form-label">Description</label>
    <input type="text" class="form-control" asp-for="Description" >
  </div>
    <div class="mb-3">
    <label for="" class="form-label">Date of Birth</label>
    <input type="date" class="form-control" asp-for="DoB" >
  </div>
    <div class="mb-3">
    <label for="" class="form-label">Sex</label>
    <input type="text" class="form-control" asp-for="Sex" >
  </div>
    <div class="mb-3">
    <label for="" class="form-label">Email</label>
    <input type="email" class="form-control" asp-for="Email" >
  </div>
  <div class="mb-3">
    <label for="" class="form-label">Address</label>
    <input type="text" class="form-control" asp-for="Address" >
  </div>
  <div class="mb-3">
    <label for="" class="form-label">Phone</label>
    <input type="text" class="form-control" asp-for="Phone" >
  </div>
   <div class="mb-3">
    <label for="" class="form-label">IsAdmin</label>
    <input type="radio" class="form-control" asp-for="IsAdmin" value="false">
  </div>
   <div class="mb-3">
    <label for="" class="form-label">IsDelete</label>
    <input type="radio" class="form-control" asp-for="IsDelete"  value="false">
  </div>
  <div class="mb-3">
    <label for="" class="form-label">Status</label>
    <input type="radio" class="form-control" asp-for="Status" value="true">
  </div>

  <button type="submit" class="btn btn-primary">Submit</button>
</form>